<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="UrlBranchOffice" value="https://d3e6htiiul5ek9.cloudfront.net/prod/sucursales?lat=-31.42008329999999%26lng=-64.18877609999998%26limit={0}%26offset={1}" />
    <add key="UrlBranchOfficeProducts" value="https://d3e6htiiul5ek9.cloudfront.net/prod/productos?%26id_categoria=05%26array_sucursales={0}%26offset={1}%26limit={2}%26sort=-cant_sucursales_disponible" />
    <add key="UrlPriceProduct" value="https://d3e6htiiul5ek9.cloudfront.net/prod/producto?limit=30%26id_producto={0}%26array_sucursales={1}" />
    
  </appSettings>
  <connectionStrings>
   <add name="sql" connectionString="Server=localhost; Database=PreciosClaros; User ID=; Password=; Trusted_Connection=false;"/>
</connectionStrings>
</configuration>
